@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

@media screen and (max-width: 1040px) {
    .navbar {
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1041px) {
    .navbar {
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

/* Body */
.rounded {
    border-top: 5px solid #11999e;
    border-radius: 5px;
    margin: 30px 10%;
}

@media screen and (max-width: 500px) {
    .header-text {
        font-size: 30px;
        padding: 10px 0px 0px 10px;
        font-size: 20px;
        font-weight: 600;
        color: black;
    }




}

@media screen and (min-width: 501px) {
    .header-text {
        font-size: 30px;
        padding: 30px 0px 0px 5%;

        font-weight: 600;
        color: black;
    }





}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
    background: #5eb7b7;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #11999e;
}


/* aa */


@media (max-width:991px) {
    .wrapper {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .card {
        width: 250px;
        margin-bottom: 30px;
    }
}

/* body */

/*  */



/* Header */
.title {

    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 18px 0 0 5%;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 30px;
    color: #000000;
    border-right: 4px solid #000;
    font-weight: 700;
    animation: forwards typing 7s;
    white-space: nowrap;
    overflow: hidden;

}
.topScroll button {
  margin: auto;
  display: block;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 29px;
  padding-top: 50px;
}

@keyframes cursor {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }
}

@keyframes typing {
    0% {
        width: 0ch
    }

    30%{ width: 16ch;} 
    80%{ width: 16ch;} 
     90%{ width: 16ch;} 
    100% {
        width: 16ch;
    }


}

/* End Header */







ol {
  width: 90%;
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: cardnr;
  justify-content: space-evenly;
}

li {
  --frontColor: #eeeeee;
  --width: 10em;
  --inlineP: 0.5rem;
  --borderR: 4rem;
  --arrowW: 2rem;
  --arrowH: 1.5rem;

  counter-increment: cardnr;
  width: calc(var(--width) - var(--inlineP) * 2);
  display: grid;
  grid-template:
    "icon" var(--borderR)
    "title"
    "descr" 1fr;
  margin-inline: var(--inlineP);
  margin-bottom: calc(var(--borderR));
  position: relative;
  transition: 0.3s;
  width: 200px;
  margin-top: 30px;
}
li:hover {
  scale: 1.1;
}
li .icon,
li .title,
li .descr {
  background: var(--frontColor);
  padding-inline: 1rem;
  padding-bottom: 1rem;
}
li .icon,
li .title {
  color: var(--accent-color);
  text-align: center;
  padding-bottom: 0.5rem;
}

li .title,
li .descr {
  filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
}
li .icon {
  grid-area: icon;
  font-size: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--borderR) 0 0 0;
  position: relative;
}

li .title {
  grid-area: title;
  font-size: 1.1rem;
  font-weight: bold;
}

li .descr {
  grid-area: descr;
  font-size: 0.85rem;
  text-align: start;
  padding: 10px;
}
li .descr::before {
  content: "";
  width: var(--arrowW);
  height: var(--arrowH);
  position: absolute;
  right: 1.5rem;
  top: 100%;
  background: inherit;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

li::after {
  content: counter(cardnr, decimal-leading-zero);
  position: absolute;
  z-index: -1;

  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  top: var(--borderR);
  bottom: calc(var(--borderR) * -1);

  display: flex;
  align-items: flex-end;
  background: var(--accent-color);
  background-image: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.25),
    transparent 25% 75%,
    rgba(0, 0, 0, 0.25)
  );
  border-radius: 0 0 var(--borderR) 0;

  --pad: 1rem;
  padding: var(--pad);
  font-size: calc(var(--borderR) - var(--pad) * 2);
  color: white;
}
li::before {
  content: "";
  position: absolute;
  height: var(--borderR);
  top: calc(100% + var(--borderR) - 2px);
  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  border-radius: 0 var(--borderR) 0 0;

  background-image: linear-gradient(var(--accent-color), transparent 60%);
  opacity: 0.5;
  filter: blur(2px);
}

.credits {
  margin-top: 2rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}
