@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1040px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1041px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar .nav-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a {
  float: left;
  font-size: 22px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a img {
  height: 163px;
  width: 245px;
  background-size: contain;
}
.navbar a .flag {
  height: 43px;
  width: 75px;
  background-size: contain;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 22px;
  font-weight: 700;
  border: none;
  outline: none;
  color: rgb(35, 35, 35);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.2s;
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #11999e;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #11999e;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.2s;

  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* body                                          */

.mission {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
  display: block;
  padding-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .mission .header {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-top: 66px;
    align-items: center;
  }
  .mission p {
    margin: 50px 30px;
    font-size: 20px;
    font-weight: 500;
  }
  .mission h3 {
    color: #11999e;
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
  }
  .mission h4 {
    color: #f3f6f6;
    font-weight: 700;
    font-size: 18px;
  }
  .mission .header .space .white-button {
    height: 91px;
    width: 91px;
    border-radius: 50%;
    background-color: #f3f6f6;
    margin: auto;
    position: relative;
  }
  .mission .header .space .white-button a img {
    position: absolute;
    top: 34.5px;
    left: 29.5px;
    width: 25px;
    height: 25px;
    font-size: 35px;
    transition: 0.1s;
  }
}
@media screen and (min-width: 501px) {
  .mission .header {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    padding-top: 66px;
    align-items: center;
  }
  .mission p {
    margin: 0px 324px 81px 95px;
    font-size: 1.6vw;
    font-weight: 500;
  }
  .mission h3 {
    color: #11999e;
    font-weight: 700;
    font-size: 2vw;
    margin-right: 15px;
  }
  .mission h4 {
    color: #f3f6f6;
    font-weight: 700;
    font-size: 2vw;
  }
  .mission .header .space .white-button {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    background-color: #f3f6f6;
    margin: auto;
    position: relative;
  }
  .mission .header .space .white-button a img {
    position: absolute;
    top: 54.5px;
    left: 54.5px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    transition: 0.1s;
  }
}
.mission .div051 {
  display: inline-flex;
  margin: 0px 20px;
  margin-top: 3vw;
}
.mission .div052 {
  display: inline-flex;
  margin: 0px 20px;
  margin-top: 3vw;
}

.mission .header h1 {
  font-size: 5vw;
  font-weight: 700;
}
.mission .header .space {
  position: relative;
  align-items: center;
}
.mission .header .space h2 {
  font-size: 2vw;
  color: #11999e;
  text-align: center;
  margin-bottom: 10px;
}
.mission .header .space .white-button a img:hover {
  top: 54.5px;
  left: 50.5px;
  width: 35px;
  height: 35px;
  text-decoration: none;
}

/*  */
.vision {
  width: 100%;
  height: 100vh;
  /* padding: 95px; */
  background: rgb(255, 180, 180);
  background: linear-gradient(
    216deg,
    rgba(255, 180, 180, 1) 0%,
    rgba(244, 157, 26, 1) 44%,
    rgba(94, 183, 183, 1) 98%
  );
  background-size: 250% 250%;

  animation: gradient 5s ease infinite;
  /* transition: 1s; */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 500px) {
  .vision h1 {
    padding: 55px;
    color: #100f0f;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .vision h2 {
    padding: 55px;
    font-size: 27px;
    font-weight: 500;
    color: #100f0f;
    text-align: center;
  }
}
@media screen and (min-width: 501px) {
  .vision h1 {
    padding: 95px;
    color: #100f0f;
    font-size: 5vw;
    font-weight: 700;
  }
  .vision h2 {
    padding: 95px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #100f0f;
  }
}

/*  */

.value {
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
  background-color: black;
  padding-bottom: 80px;
}
.value h1 {
  padding: 95px;
  color: #ffffff;
  font-size: 5vw;
  font-weight: 700;
}
.value .value-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .value .value-row .value-box {
    width: 240px;
    height: 207px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
  }
  .value .value-row .value-box h4 {
    font-size: 34.5px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 54px;
  }
  .value .value-row .value-box img {
    width: 60px;
    height: 60px;
    margin: auto;
    margin: 0px 90px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 501px) {
  .value .value-row .value-box {
    width: 340px;
    height: 307px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
  }
  .value .value-row .value-box h4 {
    font-size: 54.5px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 54px;
  }
  .value .value-row .value-box img {
    width: 70px;
    height: 70px;
    margin: auto;
    margin: 0px 130px;
    margin-top: 55px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
  background: #5eb7b7;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11999e;
}
