@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1040px) {
  .navbar {
    overflow: hidden;
    background-color: #11999e;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1041px) {
  .navbar {
    overflow: hidden;
    background-color: #11999e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar .nav-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}


.ourStory {
  width: 100%;
  background-color: white;
  color: black;
  padding-top: 16px;
}





.content h1 {
    text-align: center;
    font-size: 41px;
    font-weight: 400;
    margin: 50px 0px 20px 0px;

}





/* ---------------------------------------------------------------------- */
@media screen and (max-width: 500px) {
  h5 {
    text-align: center;
    font-size: 61px;
    font-weight: 700;
    margin: 0px 0px 70px 0px;
  }
  h4 {
    text-align: center;
    color: #11999e;
    font-size: 72px;
    font-weight: 400;
    padding-top: 116px;
  }
  h6 {
    text-align: center;
    color: #100f0f;
    font-size: 27px;
    font-weight: 300;
  }

}
@media screen and (min-width: 501px) {
  h5 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 70px 0px;
  }
  h4 {
    text-align: center;
    color: #11999e;
    font-size: 72px;
    font-weight: 400;
    padding-top: 116px;
  }
  h6 {
    text-align: center;
    color: #100f0f;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  @keyframes example1 {
    0% {
      left: 300px;
      top: 420px;
      opacity: 0;
      transform: rotate(-1000deg);
    }
    100% {
      top: 60px;
      left: 60px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes example2 {
    0% {
      right: 300px;
      top: 420px;
      opacity: 0;
      transform: rotate(-1000deg);
    }
    100% {
      top: 60px;
      right: 60px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes example3 {
    0% {
      right: 300px;
      bottom: 420px;
      opacity: 0;
      transform: rotate(-1000deg);
    }
    100% {
      bottom: 5px;
      right: 260px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  
}

#container {
  margin: auto;
  width: 100%;
  height: 100px;
  /* top: 0;
  bottom: 0; */
  /* text-align: center; */
  color: black;
  filter: url(#threshold) blur(0.6px);
  /* margin: 10px; */
}




/*  */
/* footer */

footer .line {
  height: 2px;
  width: 97%;
  background-color: #100f0f;
  margin: auto;
}
footer .arrow img {
  width: 23px;
  height: 23px;
  margin: auto;
  display: block;
  margin-top: 200px;
}
footer button {
  margin: auto;
  display: block;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 29px;
}
@media screen and (max-width: 500px) {
  footer .list {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    list-style: none;
  }
  .list3 button {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    float: right;
  }

  footer .list ul a {
    font-size: 14px;
    font-weight: 600px;
    color: black;
    text-decoration: none;
    margin: 5px;

    /* text-align: left; */
    float: left;
    /* text-align: left; */
    transition: 0.1s;
    opacity: 0.7;
  }
  footer .list3 input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(187, 187, 187);
    width: 100%;
    margin: 10px 0px;
    transition: 0.1s;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
  }
  
}
@media screen and (min-width: 501px) {
  footer .list {
    display: flex;
    justify-content: space-evenly;
    margin: 24px;
    list-style: none;
  }
  .list3 button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    float: right;
  }

  footer .list ul a {
    font-size: 24px;
    font-weight: 600px;
    color: black;
    text-decoration: none;
    margin: 5px;

    /* text-align: left; */
    float: left;
    /* text-align: left; */
    transition: 0.1s;
    opacity: 0.7;
  }
  footer .list3 input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(187, 187, 187);
    width: 100%;
    margin: 10px 0px;
    transition: 0.1s;
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
  }
  
}

footer ul {
  display: block;
  /* width: 32vw; */
}
footer .list3 input:focus {
  border-width: 0 0 3px;
  background-color: white;
  border-color: #11999e;
  /* outline: 1px solid #000 */
}

footer .list ul a:hover {
  opacity: 1;
}


/*  */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}




.our-partners {
  width: 100%;
}
.our-partners .partner-images {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* align-items: center;
  position: relative;
  vertical-align:middle;  */
  /* <---- this */
  margin: 80px 0px;
}
.our-client .partner-images {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* align-items: center;
  position: relative;
  vertical-align:middle;  */
  /* <---- this */
  margin: 80px 0px;
}
@media screen and (max-width: 500px) {
  .our-client img {
    width: 100px;
    height: 50px;
    background-size: contain;
    object-fit: contain;
  }
  .our-partners img {
    width: 90px;
    height: 90px;
    background-size: contain;
    object-fit: contain;
  }
}
@media screen and (min-width: 501px) {
  .our-client img {
    width: 200px;
    height: 60px;
    background-size: contain;
    object-fit: contain;
  }
  .our-partners img {
    width: 200px;
    height: 100px;
    background-size: contain;
    object-fit: contain;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
  background: #5eb7b7;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11999e;
}



