@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1040px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1041px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
  .navbar .nav-pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
      
  
  }
.navbar a {
  float: left;
  font-size: 22px;  
  font-weight:700;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  
}
.navbar a img {
  height: 163px;
  width: 245px;
  background-size: contain;

}
.navbar a .flag {
  height: 43px;
  width: 75px;
  background-size: contain;

}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 22px;  
  font-weight:700;
  border: none;
  outline: none;
  color: rgb(35, 35, 35);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.2s;
  cursor: pointer;


}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #11999e;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #11999e;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.2s;
  
  border-radius: 10px;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;  
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
  background: #5EB7B7;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11999e;
}
