@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1040px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1041px) {
  .navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar .nav-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a {
  float: left;
  font-size: 22px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a img {
  height: 123px;
  width: 205px;
  background-size: contain;
}
.navbar a .flag {
  height: 43px;
  width: 75px;
  background-size: contain;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {

  font-size: 22px;
  font-weight: 700;
  border: none;
  outline: none;
  color: rgb(35, 35, 35);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #11999e;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #11999e;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  

  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Body */

.news {
  width: 100%;
}
.news .apply-text {
  font-size: 5vw;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 85px;
  font-weight: 600;
  color: black;
}
.news .news-class {
  width: 100%;
  margin: 85px 0px;
}
@media screen and (max-width: 500px) {
  .news .news-class .job {
    border: 1px solid black;
    /* width: 90vw; */
    offset: 10px, 4px rgba(0, 0, 0, 0.25);
    display: block;
    border-radius: 15px;
    padding: 22px 35px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    margin:10px;
    justify-content: space-between;
    align-items: center;
    
  }
  
}
@media screen and (min-width: 501px) {
  .news .news-class .job {
    border: 1px solid black;
    width: 90%;
    offset: 10px, 4px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 15px;
    padding: 22px 35px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
   
}

.news .news-class .job h2 {
  font-weight: 700;
  margin: 20px 0px;
  /* text-align: start; */
}
.news .news-class .job .p1 {
  transition: 0.4s;
  overflow: scroll;

}


.news .news-class .job h3 {
  font-weight: 500;
  font-size: 18px;
  /* text-align: start; */
  transition: 1s;
}
.job .dev1 {
  width: 100%;
}
.job .dev2 img {
  width: 180px;
  height: 110px;
  background-size: contain;
  background-position: center;
  object-fit: contain;

  
}

 button {
  background-color: transparent;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  color: #11999e;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
  background: #5eb7b7;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11999e;
}
